---
title: About
layout: page
permalink: /about.html
# add image to index page bootstrap jumbotron
featured-image: "objects/test001.jpg"
---
<div id="inline1" style="display: block;">
	<h2>About the Collection </h2>
	
	<p>Among the riches of the historical photograph collections of the University of Idaho Library is an oversize portfolio of eighty, original Carleton E. Watkins photographs donated to the library by Cort Conley. Long considered lost - the collection was found in a basement in San Francisco after having survived the 1906 earthquake - these photographs, taken in 1890, depict the interiors of four Anaconda Mining Company mines in Butte, Montana. Watkins is best known for his scenic, large-plate photographs of the West, but his more commercial photography, exemplified by these mining scenes, is becoming increasingly valued for its documentation and design. </p>

	<h2>The Threat of Photography </h2>
	{% include figure.html item="watkins3" size="col-md-3" %}
	<p>Watkins was hired to photograph the Anaconda copper mine in Butte by <a href="https://en.wikipedia.org/wiki/James_Ben_Ali_Haggin">James Ben Ali Haggin</a> in 1889. Haggin's company, <a href="https://en.wikipedia.org/wiki/Hearst,_Haggin,_Tevis_and_Co.">Hearst, Haggin, Tevis and Co.</a> which was headed by fellow capitalists Lloyd Tevis and George Hearst, owned the Anaconda Mining Company, along with several other mines. Haggin and his partners had purchased majority shares in the Anaconda mine from <a href="https://en.wikipedia.org/wiki/Marcus_Daly">Marcus Daly</a> in 1881 and gradually transformed it into one of the largest copper producing mines in the world.</p>

	<p> Watkins was hired to document the mines so that Haggin could present, later that year, "visually persuasive evidence of the mine's present success and future prospects" to European copper mining syndicates (including the Rothschild family) with whom the American copper mining interests were competing (Hult-Lewis, 247). The photographs served as a threat to the Eurpoeans, indicating that Haggin's mines could produce and distribute such a large quantity of copper that the market value of the metal would be drastically diminished. The threat worked: the Europoean syndicates and the Americans both promised to limit production to better guarantee the market.
	</p>
	{% include figure.html item="watkins11" float="left" size="col-md-2"%}  
	<h2>Watkins in Montana </h2>

	
	<p>As his <a id="show_5" href="letters.html">letters from Butte</a> attest, Watkins time in Montana was anything but comfortable. Living out of his railroad car, Watkins dealt with howling winds, rain, snow, fires, personal health issues (bad toe, bad hip, vertigo) and terrible lighting and breathing conditions in the mine itself. Meanwhile, back in San Francisco, his wife, their two children, and his sister were dealing with their own health and money issues, having to stave off creditors and the 'wolf' of hunger at the same time. Lonely, weakened by a poor diet, and pining for his family, Watkins nevertheless managed to produce captivating photographs of the working mines—some as deep as 1,000 feet—by using a combination of electric and flash lighting.
	</p>
	<h3>Additional Information</h3>
	<p>For a more detailed look at the mining photography of Carleton Watkins, and for more information on these photographs in particular, we recommend the recent dissertation of Christine A. Hult-Lewis, <a href="https://search.proquest.com/docview/880288205/abstract?accountid=14551">The Mining Photographs of Carelton Watkins, 1858-1891, and the Origins of Corporate Photography</a>. Hult-Lewis contextualizes these photographs among the large body of mining photography Watkins created during his lifetime, describing these late photographs of Watkins as breaks from his usual style:</p>
	<p style="margin-left:30px;font-style:italic;"> In Montana, the otherworldly, claustrophobic underground pictures represent a marked depature from his usual expansive, open-ended style and presented views that challenged the prevailing landscape aesthetic of the day — an aesthetic that he himself was instrumental in crafting (226). </p>
	<p>Watkins' non-mining photographs are astounding as well, and are definitely worth perusing. A few collections are listed below. We also carry several books at the library containing his photographs, including <a href="https://uidaho.worldcat.org/oclc/5972889"> Photographs of the Columbia River and Oregon</a>, <a href="https://uidaho.worldcat.org/oclc/19397351">Carleton E. Watkins : photographs, 1861-1874</a>, and <a href="https://uidaho.worldcat.org/oclc/9197151">Carleton E. Watkins, photographer of the American West</a>.

	</p>
	<h3>Related Collections</h3>
	<ul style="margin-left:30px;">
		<li><a href="https://www.fraenkelgallery.com/exhibitions/carleton-watkins-discoveries/carleton-watkins/523_0_4144.html/">Carleton Watkins Exhibition &amp; Photographs</a></li>
		<li><a href="https://CPRR.org/Museum/Stereo_World/Watkins/">Carleton Watkins - 19th Century California Photographer</a></li>
		<li><a href="https://www.carletonwatkins.org/">The Stereoviews of Carleton Watkins</a></li>
		<li><a href="https://www.getty.edu/art/gettyguide/artMakerDetails?maker=1989">Carleton Watkins Photographs at the Getty Museum</a></li>
		<li><a href="https://www.yosemite.ca.us/library/watkins/">Early Watkins Yosemite Photographs</a></li>
		<li><a href="https://www.nga.gov/exhibitions/watkinsbro.htm">Carleton Watkins: The Art of Perception</a> National Gallery of Art. Includes a timeline.</li>
		<li><a href="https://hearstmuseum.berkeley.edu/exhibitions/photo/watkins.html">Carleton E. Watkins Photographs</a> in online exhibit at Phoebe A. Hearst Museum of Anthropology</li>
		<li><a href="https://beinecke.library.yale.edu/digitallibrary/mammoth.html">Mammoth Plate Photographs of the North American West</a> by Watkins from the <a href="https://www.library.yale.edu/beinecke/">Beinecke Rare Book and Manuscript Library at Yale University</a></li>

	</ul>
</div>
{% include credits.md %}