<script>
function leftArrowPressed() {
    //commenting out normal function to allow flipping pages via keys
  // location.href = document.getElementById("prev-page-button").href;
  $('#prev').click();
}

function rightArrowPressed() {
    //commenting out normal function to allow flipping pages via keys
  // location.href = document.getElementById("next-page-button").href;
  $('#next').click();
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};
</script>