{%- assign items = site.data[site.data.theme.metadata] -%}
<!-- load leaflet dependencies -->
<script src="{{ '/leaflet/leaflet.js' | prepend: site.data.theme.digital-assets }}"></script>
<script src="{{ '/leaflet/fuse.min.js' | prepend: site.data.theme.digital-assets }}"></script>
<script src="{{ '/leaflet/leaflet.fusesearch.js' | prepend: site.data.theme.digital-assets }}"></script>

<!-- add collection map data -->
<script>
    var geodata = { "type": "FeatureCollection", "features": [ 
    {% for item in items %}{% if item.latitude and item.longitude %}
    { "type":"Feature", "geometry":{ "type":"Point", "coordinates":[{{ item.longitude | strip }},{{ item.latitude | strip }}] }, "properties":{ "title": {{ item.title | jsonify }}, "creator": {{ item.creator | jsonify }}, "date": {{ item.date | jsonify }}, "subjects": {{ item.subject | jsonify}}, "id": {{ item.object-id | jsonify }} } }{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}
    ]};
</script>
<!-- int map and search -->
<script>
    /* init and set zoom */
    var map = L.map('map').setView([{{page.mapcenter}}], {{page.zoom}});
    /* load map layer */ 
    /* var Esri_NatGeoWorldMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
        maxZoom: 16
    });
    Esri_NatGeoWorldMap.addTo(map);
     */
    var Esri_WorldStreetMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    });
    Esri_WorldStreetMap.addTo(map);

    /* add search, https://github.com/naomap/leaflet-fusesearch */
    var options = {
        title: 'Search documents',
        placeholder: 'Search documents...',
        threshold: 0.35 // 1 = anything, 0 = exact match
    };
    var searchCtrl = L.control.fuseSearch(options);
    searchCtrl.addTo(map);
    searchCtrl.indexFeatures(geodata.features, ['title', 'subjects', 'date', 'creator']);

    /* add geojson marker and popup */
    L.geoJson(geodata, {
        pointToLayer: function(feature,latlng){
            var marker = L.marker(latlng);
            marker.bindPopup('<h3>' + feature.properties.title + '</h3><a target="_blank" class="btn btn-light" href="{% if site.data.theme.repo-link %}{{ site.data.theme.cdm-url }}/cdm/ref/collection/{{ site.data.theme.cdm-collection-id }}/id/'+feature.properties.id+'{% else %}{{ site.baseurl }}/items/'+feature.properties.id+'.html{% endif %}" ><img class="thumb" src="{{ site.data.theme.cdm-url }}/utils/getthumbnail/collection/{{ site.data.theme.cdm-collection-id }}/id/'+feature.properties.id+'" /></a><p>Date: ' + feature.properties.date + '<br>Subjects: ' + feature.properties.subjects + '</p><h4><a target="_blank" class="btn btn-light" href="{% if site.data.theme.repo-link %}{{ site.data.theme.cdm-url }}/cdm/ref/collection/{{ site.data.theme.cdm-collection-id }}/id/'+feature.properties.id+'{% else %}{{ site.baseurl }}/items/'+feature.properties.id+'.html{% endif %}" >View Item</a><h4>');
            return marker;
        }, 
        onEachFeature: function (feature, layer) {
            feature.layer = layer;
        }
    }).addTo(map);

</script>