<script src="{{ '/js/jquery.lazyload.js' | prepend: site.digital-assets }}"></script>
<script>
    var $imgs = $("img.lazy");
    // Lazy Load images when they appear in DOM
    $imgs.lazyload({ 
       effect: "fadeIn",
       failure_limit: Math.max($imgs.length - 1, 0)
    });
    // init tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    // get hash from url
  var hashfilter = decodeURIComponent(location.hash.substr(1));//.replace(/%20/g, " "); 
 
  $(document).ready(function(){
    if($("tr").attr("id") == hashfilter)
    {$("#" + hashfilter).addClass("bg-dark");
            }
        });
</script>