<div class="card">
    <div class="card-header background-grey">Partners</div>
    <div class="card-body text-center">
        <p class="mx-2 my-2">
            <a href="http://webpages.uidaho.edu/aacc/index.htm" target="_blank">
                <img src="{{ '/assets/aacc-postcard.png' | relative_url }}" class="img-fluid" alt="Asian American Comparative Collection">
            </a>
        </p>
        <p class="mx-2 my-4">
            <a href="http://www.burkemuseum.org/" target="_blank">
                <img src="{{ '/assets/burkelogo.png' | relative_url }}" class="img-fluid" alt="Burke Museum">
            </a>
        </p>
        <p class="mx-2 my-2">
            <a href="https://cdil.lib.uidaho.edu/" target="_blank">
                <img src="{{ '/assets/cdil-logo.png' | relative_url }}" class="img-fluid" alt="Center for Digital Inquiry and Learning">
            </a>
        </p>
    </div>
</div>
<div class="card mt-4">
    <div class="card-header background-grey">More About the Collections</div>
    <div class="card-body">
        <p class="card-text">Many of the artifacts on this site are from the
            <em>Asian American Comparative Collection</em> (AACC) at the University of Idaho. More examples of artifacts held in this collection
            can be seen at the
            <a href="http://webpages.uidaho.edu/aacc/illus.htm" target="_blank">AACC Artifact Illustrations page</a>.</p>
        <p class="card-text">
            <em>Japanese Gulch Village</em> artifacts are part of the
            <a href="http://www.burkemuseum.org/research-and-collections/culture"
                target="_blank">Culture Collections</a> at the Burke Museum of Natural History and Culture. Learn more about the fascinating
            collections in recent articles
            <a href="http://www.burkemuseum.org/blog/soles-japanese-gulch" target="_blank">"The soles of the Japanese Gulch"</a> and
            <a href="http://www.burkemuseum.org/blog/connecting-japanese-gulch-artifacts"
                target="_blank">"Connecting with Japanese Gulch Artifacts"</a>.</p>
    </div>
</div>
