<!-- All collections modal -->
<div class="modal fade" id="collections" tabindex="-1" role="dialog" aria-labelledby="digital" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <div class="row text-center">
                    <div class="col-5">
                        <a href="https://www.lib.uidaho.edu/"><img class="img-fluid" alt="University of Idaho Library Logo" src="https://www.lib.uidaho.edu/media/digital/liblogo_transparent.png" ></a>
                    </div>
                    <div class="col-6 mt-2">
                        <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                            <img class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }} logo" >
                        </a>
                    </div>
                </div>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center mb-3">
                    <div class="col-md-6">
                        <h4 class="mt-2">All Collections</h4>
                    </div>
                    <div class="col-md-6">
                        <script>
                            function cdm_search_all() {
                                var query = document.getElementById("cdm-search-all").value;
                                window.open("https://digital.lib.uidaho.edu/digital/search/searchterm/" + encodeURIComponent(query) + "/field/all/mode/all/conn/and/order/nosort/ad/asc", "_blank" );
                            }
                        </script>
                        <form class="form-inline" role="search" id="all-collections-search" onsubmit="cdm_search_all(); return false;">
                        <div class="input-group">
                            <input id="cdm-search-all" type="text" class="form-control" placeholder="Search all collections..." aria-label="Search all collections" aria-describedby="search-all-button">
                            <div class="input-group-append">
                            <button class="btn btn-pride-gold" type="submit" id="search-all-button">Go</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

                <ul id="allCollections" class="collection-list"></ul>
            </div>
        
        </div>
    </div>
</div>

<script>
$.getJSON( "{{ '/data/all-collections.json' | prepend: site.digital-assets }}", function( data ) {
    var collectionList = "";
    var items = data.collections;
    items.forEach(function (item) {
        collectionList += "<li><a href='" + item[1] + "'>" + item[0] + "</a></li>";
    });
    var modalList = document.getElementById("allCollections");
    modalList.innerHTML = collectionList;
});
</script>