<!-- All collections modal -->
<div class="modal fade" id="collections" tabindex="-1" role="dialog" aria-labelledby="digital" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="digital"><a href="https://www.lib.uidaho.edu/digital/">UIdaho Library Digital Initiatives</a></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

<script>
  function cdm_search_all() {
    var query = document.getElementById("cdm-search-all").value;
    window.open("https://digital.lib.uidaho.edu/digital/search/searchterm/" + encodeURI(query) + "/field/all/mode/all/conn/and/order/nosort/ad/asc", "_blank" );
  }
</script>
<div class="row align-items-center mb-3">
  <div class="col-md-6">
    <h4 class="mt-2">All Collections</h4>
  </div>
  <div class="col-md-6">
    <form class="form-inline" role="search" id="search" onsubmit="cdm_search_all(); return false;">
      <div class="input-group">
        <input id="cdm-search-all" type="text" class="form-control" placeholder="Search all collections..." aria-label="Search all collections" aria-describedby="search-all-button">
        <div class="input-group-append">
          <button class="btn btn-pride-gold" type="submit" id="search-all-button">Go</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ul class="collection-list">
<li><a href="https://www.lib.uidaho.edu/digital/uiext/"><strong> Agricultural</strong> Experiment &amp; UI Extension Publications</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/argonaut/index.html">The<strong> Argonaut</strong></a></li>
<li><a href="https://www.lib.uidaho.edu/digital/barstock/"> <strong>Barnard-Stockbridge</strong> Photograph Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/bigburn/">The <strong>Big Burn</strong> Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/boxing/">Donald R. Theophilus <strong>Boxing</strong>  Photograph Collection</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/bunkerhill"><strong>Bunker Hill</strong> Labor Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/calnon/">Mark Brooks <strong>Calnon</strong> Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/campus/">UI <strong>Campus</strong> Photograph Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/crbp/"><strong>Columbia</strong> River Basin Project - PNW Dam Construction</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/dworshak/"><strong>Dworshak</strong> Dam Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/expforest/"><strong>Experimental</strong> Forest and Savenac Nursery Photo Archive</a></li>

<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/spec_fa"><strong>Finding</strong> Aids (EAD)</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/fisher">Stanton Gilbert<strong> Fisher</strong> Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/footballcovers/">Idaho Vandals <strong>Football</strong> Program Covers Collection</a></li>

<li><a href="https://www.lib.uidaho.edu/digital/fwres">Idaho <strong>Forest</strong> Wildlife and Range Experiment Station Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/forester">Idaho <strong>Forester</strong> Collection</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/search/collection/fugue"><strong>Fugue</strong> Literary Journal Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/gem/"><strong>Gem</strong> of the Mountains Digital Yearbook Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/guidedreading/"><strong>Guided</strong> Reading Library</a></li>

<li><a href="https://www.flickr.com/photos/idahodigital/sets/72157626093899947/">Robert E. <strong> Higgins</strong> Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/special-collections/histphoto/"><strong>Hist Photo</strong> - Historical Photograph Database</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/cities/"><strong>Idaho</strong> Cities &amp; Towns </a></li>

<li><a href="https://www.lib.uidaho.edu/digital/maps/aerial.html"><strong>Idaho</strong> Historical Aerial Photographs</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/spec_hm"><strong>Idaho</strong> Historical Maps</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/idahosnow/"><strong>Idaho</strong> Snow Loads</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/law_briefs"><strong>Idaho</strong> Supreme Court Record &amp; Briefs</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/iwdl/"><strong>Idaho</strong> Waters Digital Library</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/spec_ji">Edward John <strong> Iddings</strong> Lantern Slides, 1927</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/iftnc"><strong>Intermountain</strong> Forestry Cooperative</a></li>
<li><a href="https://www.ijc.uidaho.edu/index.html"> International <strong>Jazz Collections (IJC)</strong></a>
<ul class="ijclist" >
<li><a id="ijclink" href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/ijc_brown">Ray<strong> Brown</strong> Collection</a></li>
<li><a id="ijclink" href="https://www.ijc.uidaho.edu/feather_leonard/index.html">Leonard <strong> Feather</strong> Jazz Collection</a></li>
<li><a id="ijclink" href="https://www.ijc.uidaho.edu/gillespie_dizzy/index.html">Dizzy <strong> Gillespie</strong> Collection</a></li>
<li><a id="ijclink" href="https://www.ijc.uidaho.edu/grey_al/index.html">Al <strong> Grey</strong> -Rosalie Soladar Memorial Collection</a></li>
<li><a id="ijclink" href="https://www.ijc.uidaho.edu/hampton_collection/">Lionel <strong> Hampton</strong> Library Collection</a></li>
<li><a id="ijclink" href="https://www.ijc.uidaho.edu/morse_lee/index.html">Lee <strong> Morse </strong> Collection</a></li>
<li><a id="ijclink" href="https://www.ijc.uidaho.edu/williams_joe/index.html">Joe <strong>Williams</strong> Collection</a></li>
</ul>
</li>
<li><a href="https://www.lib.uidaho.edu/digital/Kooskia/"><strong>Kooskia</strong> Internment Camp Scrapbook</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/Laughlin/">Kyle <strong> Laughlin</strong> Photographs</a></li>


<li><a href="https://www.lib.uidaho.edu/digital/lcheritage"><strong>Latah</strong> County Community Heritage Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/lcoh/"><strong>Latah</strong> County Oral Histories</a></li>

<li><a href="https://www.lib.uidaho.edu/digital/LewistonOrch/"><strong>Lewiston</strong> Orchards Life Newsletter</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/maps/">The <strong>Map</strong> Room</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/mccall/"><strong>McCall</strong> Public Library Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/nezperce/"><strong>Nez Perce</strong> Collection </a></li>
<li><a href="https://www.lib.uidaho.edu/digital/ott/"><strong>Ott</strong> Historical Photograph Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/postcards/">Northwest Historical <strong>Postcards</strong> Collection </a></li>

<li><a href="https://www.lib.uidaho.edu/digital/phs/"><strong>Potlatch Historical</strong> Society Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/FamilyTree/"><strong>Potlatch</strong> Newsletter, The Family Tree</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/priestlake/"><strong>Priest Lake</strong> Historical Photograph Collection </a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/search/collection/psychiana"><strong>Psychiana</strong> Collection </a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/search/collection/rangecoll"><strong>Rangeland</strong> Center Collection </a></li>
<li><a href="https://www.lib.uidaho.edu/digital/troosevelt/">Theodore <strong>Roosevelt</strong> Collection </a></li>
<li><a href="https://sbw.lib.uidaho.edu/"><strong>Selway-Bitterroot</strong> Wilderness History Project</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/spec_cs">C. H. <strong> Shattuck</strong>, Idaho Lantern Slides, 1904-1910</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/stonebraker/"><strong>Stonebraker</strong> Photograph Collection</a></li>
<li><a href="https://digital.lib.uidaho.edu/cdm/landingpage/collection/taylor"><strong>Taylor</strong> Ranch Log Book Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/find/etds.html"><strong>Theses</strong> and Dissertation Database (ETDs)</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/turning/"><strong>Turning</strong> of the Wheel Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/uihistorical/"><strong>University of Idaho</strong> Historical Photos</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/vandalvideo/"><strong>Vandal Video</strong> Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/watkins/">Carleton <strong> Watkins</strong> Mine Interiors Collection</a></li>
<li><a href="https://www.lib.uidaho.edu/digital/webarchive/"><strong>Web</strong> Archive Collections</a></li>
</ul>
</div>

</div>
</div>
</div>