{% if page.layout == "home-infographic" and site.data.theme.home-banner-image-number %}
<style>
#home-banner {
    background-image: url('{{site.data.theme.cdm-url}}/utils/ajaxhelper/?CISOROOT={{site.data.theme.cdm-collection-id}}&CISOPTR={{site.data.theme.home-banner-image-number}}&action=2&DMSCALE=100&DMWIDTH=3400&DMHEIGHT=2800&DMX=0&DMY=0&DMTEXT=&DMROTATE=0');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
}
#collectionslink {
    cursor: pointer;
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    font-size: 14px;
    border-radius: 0px 0px 0px 20px;
    padding: 5px 20px;
    border-bottom: 1px #dadada solid;
    margin: 0;
    font-weight: 300;
}
</style>
<p id="collectionslink" class="bg-secondary"><a href="https://www.lib.uidaho.edu/digital/" title="University of Idaho Library Digital Initiatives" ><img alt="Digital Initiatives [logo]"  src="https://www.lib.uidaho.edu/digital/dilogo_allwhite_sm.png" ></a></p>
<div id="home-banner" class="jumbotron feature text-white p-0 mb-0 rounded-0">
    <br>
    <div class="col-md-8 mx-auto display-block text-center" style="padding: {{site.data.theme.home-title-y-padding}} 0;">
        <div class="card text-dark" style="background-color:#ffffff85;">
            <h1 class="display-4">{{ site.data.theme.title }}</h1>
            <p>{{ site.data.theme.tagline }}</p>
        </div>
    </div>
</div>
{%- else -%}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div id="title" class="col-11" >
                    <h1><a href="{{ site.data.theme.baseurl }}/" >{{ site.data.theme.title }}</a></h1>	 
                    <p>{{ site.data.theme.tagline }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="mt-md-3 float-right">
                <a id="digleft" title="University of Idaho Library Digital Initiatives" class="btn btn-outline-light border-secondary" data-toggle="modal" data-target="#collections">
                <img id="digleft" class="img-fluid" src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo" ></a>
            </div>
        </div>
    </div>
</div>
{%- endif -%}