{% if page.layout == "home-infographic" %}
<style>
#home-banner {
    background-image: url('{% if site.data.theme.home-banner-image-number %}{{site.data.theme.cdm-url}}/utils/ajaxhelper/?CISOROOT={{site.data.theme.cdm-collection-id}}&CISOPTR={{site.data.theme.home-banner-image-number}}&action=2&DMSCALE=100&DMWIDTH=3400&DMHEIGHT=2800&DMX=0&DMY=0&DMTEXT=&DMROTATE=0{%else%}{{site.data.theme.home-banner-image-link}}{%endif%}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

</style>
<div id="home-banner" class="jumbotron feature text-white p-0 mb-0 rounded-0" aria-label="{{site.data.theme.home-banner-image-title}}">
    <br>
    <div class="col-md-8 mx-auto display-block text-center" style="padding: {{site.data.theme.home-title-y-padding}} 0;">
        <div class="card text-dark" style="background-color:#ffffff85;">
            <h1 class="display-4">{{ site.data.theme.title }}</h1>
            <p>{{ site.data.theme.tagline }}</p>
            <a id="digleft" title="University of Idaho Library Digital Initiatives" class="p-1 pb-3" href="https://www.lib.uidaho.edu/digital">
            <img id="digleft" src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo" ></a>
            <p class="mb-0"><small><a class="float-right pr-2 m-0 text-muted" href="{% if site.data.theme.home-banner-image-number %}{{ site.data.theme.home-banner-image-number | prepend: site.data.theme.metadata | prepend: '/items/' | prepend: site.baseurl | append: ".html" }}{%else%}{{site.data.theme.home-banner-image-link}}{%endif%}">Featured Image</a></small></p>
        </div>
    </div>
</div>
{%- else -%}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div id="title" class="col-11" >
                    <h1><a href="{{ site.baseurl }}/" >{{ site.data.theme.title }}</a></h1>	 
                    <p>{{ site.data.theme.tagline }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="mt-md-3 float-right">
                <a id="digleft" title="University of Idaho Library Digital Initiatives" class="btn btn-outline-light border-secondary" data-toggle="modal" data-target="#collections">
                <img id="digleft" class="img-fluid" src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo" ></a>
            </div>
        </div>
    </div>
</div>
{%- endif -%}