<!-- Footer -->
<footer class="bg-dark mt-3 pt-4 container-fluid">

  <div class="row border-bottom border-white pb-4 mb-2">

    <!-- Grid column -->
    <div class="col-md-7  px-4 mt-2">

      <!-- Content -->
      <h4 ><a href="{{ '/' | absolute_url }}" class="text-white">{{ site.data.theme.title }}</a></h4>
      <p class="text-white"><small>{{site.data.theme.description}}</small></p>
      <ul class="nav nav-pills ">
        {% for nav in site.data.nav-configuration %}
        <li class="nav-item">
          <a class="nav-link text-light clearwater" href="{{ nav.stub | relative_url }}">{{ nav.display-text }}</a> 
        </li>
        {% endfor %}
      </ul>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-5 mt-2 text-right">

      <h4 class="mb-0" ><a href="https://www.lib.uidaho.edu/digital/"><img class="img-fluid" src="https://www.lib.uidaho.edu/digital/assets/images/bannerlogo_allwhite.png" alt="Digital Initiatives"></a></h4>
      <p class="text-white text-right mr-4"><small><a class="pride-gold" href="https://www.lib.uidaho.edu/digital/">About DI</a> | <a href="https://www.lib.uidaho.edu/digital/collections.html" class="pride-gold">Collections</a></small></p>

    </div>
    <!-- Grid column -->

  </div>

  <!-- Copyright -->
  <div class="col-md-12 text-center pt-3 pb-1">
    <p class="text-white">{{ site.time | date: '%Y' }} | <a class="pride-gold"  href="https://www.lib.uidaho.edu/">University of Idaho Library</a></p>
  </div>
  <!-- Copyright -->

</footer>