<!-- Optional JS for Bootstrap: jQuery first, then Bootstrap bundle JS -->
<script src="{{ '/js/jquery-3.4.1.min.js' | prepend: site.digital-assets }}"></script>
<script src="{{ '/js/bootstrap.bundle.min.js' | prepend: site.digital-assets }}"></script>
<!-- load other js -->
{% if layout.lazyload == true or page.lazyload == true %}<script src="{{ '/js/lazysizes.min.js' | prepend: site.digital-assets }}" async></script>{% endif %}
{% if page.layout == "browse" %}{% include js/browse-js.html %}
{% endif %}
{% if page.layout == "data" %}{% include js/table-js.html %}{% endif %}
{% if page.layout == "subjects" %}{% include js/subjects-js.html %}{% endif %}
{% if page.layout == "locations" %}{% include js/locations-js.html %}{% endif %}
{% if page.layout == "authors" %}{% include js/authors-js.html %}{% endif %}
{% if page.layout == "timeline" %}{% include js/timeline-js.html %}{% endif %}
{% if page.layout == "map" %}{% include js/map-js.html %}{% endif %}
{% if layout.gallery == true %}{% include js/gallery-js.html %}{% endif %}
{% if page.layout == "home-infographic" %}
{% if site.data.theme.mediatypes == "documents" %}
{% include js/pdfcarousel-js.html %}
{% elsif site.data.theme.mediatypes == "youtube" %}
{% include js/youtubecarousel-js.html %}
{%elsif site.data.theme.mediatypes contains "image" %} {% include js/carousel-js.html %}
{% endif %}
{% endif %}
{% if page.layout == "item" %}{% include js/arrow-page-control-js.html %}{% endif %}
<script defer src="{{ '/fontawesome/js/all.min.js' | prepend: site.digital-assets }}"></script>