<footer class="bg-dark pt-4 container-fluid {% unless page.layout=='map' %}mt-3{% endunless %}">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-7 px-4 mt-2 mb-4">

            <h4><a href="{{ '/' | absolute_url }}" class="text-white font-weight-normal">{{ site.title }}</a></h4>
            <p class="text-white"><small>{{ site.description }}</small></p>
            <nav>
                <ul class="nav">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                    {% for nav in navItems %}
                    <li class="nav-item">
                    {% if nav.stub %}
                        <a class="nav-link text-info{% if page.url == nav.stub %} text-underline active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    {%- else -%}
                    {% assign childStub = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' | first %}
                        <a class="nav-link text-info{% if page.url == childStub.stub %} text-underline active{% endif %}" href="{{ childStub.stub | relative_url }}">{{ nav.display_name }}</a>
                    {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>

        </div>

        <div class="col-md-5">
            <div class="row justify-content-center justify-content-md-end">
                <div class="col-8 col-sm-6 col-md-8 col-xl-6 m-2 mt-4">
                    <a href="https://www.lib.uidaho.edu/"><img alt="Digital Initiatives" src="https://www.lib.uidaho.edu/media/digital/liblogo_transparent.png" class="img-fluid"></a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <a href="https://www.lib.uidaho.edu/digital/"><img class="img-fluid mb-2 footer-diginit" src="https://www.lib.uidaho.edu/media/digital/bannerlogo_allwhite.png" alt="Digital Initiatives"></a>
        <p class="text-white h6"><em></em>Collection last updated: {{ site.time | date: '%Y' }}</em></p>
    </div>

</footer>
