.text-underline {
    text-decoration: underline;
}
.browse-sort-item.active {
    color:white; 
    background-color: $grey-color;
}

.footer-diginit {width: 240px;}

/* UI ringside subjects */
.tagcloud0{font-size:0.7em;}
.tagcloud1{font-size:0.8em;}
.tagcloud2{font-size:1.2em;}
.tagcloud3{font-size:1.4em;}
.tagcloud4{font-size:1.7em;}
.tagcloud5{font-size:2.0em;}
.tagcloud6{font-size:2.4em;}
.tagcloud7{font-size:2.7em;}
.tagcloud8{font-size:3em;}
.tagcloud9{font-size:3.3em;}
.tagcloud10{font-size:3.6em;}

/* building page */

.building-map { height: 300px; width: 300px; z-index: 98; }