{%- if site.data.theme.featured-locations -%}
{%- assign topLocations = site.data.theme.featured-locations | split: ";" -%}
{%- else -%}
{%- assign raw-subjects = site.data[site.data.theme.metadata] | map: "location" | join: ";" | split: ";" -%}
{%- capture subjects -%}{%- for s in raw-subjects -%}{%- if s != "" and s != " " -%}{{ s | strip | downcase }};{%- endif -%}{%- endfor -%}{%- endcapture -%}
{%- assign subjects = subjects | split: ";" -%}
{%- assign uniqueSubjects = subjects | uniq | sort -%}
{%- capture subjects-count -%}{% for unique in uniqueSubjects %}{% assign count = subjects | where_exp: 'item', 'item == unique' | size %}{{ count | prepend: '0000' | slice: -4, 4 }}||{{ unique | capitalize }}{% unless forloop.last %};{% endunless %}{% endfor %}{%- endcapture -%}
{%- assign subjects-count = subjects-count | split: ";" | sort | reverse -%}
{%- capture topLocations -%}
{% for i in subjects-count limit: site.data.theme.featured-locations-max %}{{ i | split: "||" | last }};{% endfor %}{% endcapture %}
{%- assign topLocations = topLocations | split: ";" -%}
{%- endif -%}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Locations</h5>
    <p class="card-text">
        {% for l in topLocations %}<a class="btn btn-sm btn-outline-secondary m-1" href="{{ l | strip | uri_escape | prepend: '/browse/#' | absolute_url }}">{{ l | strip }}</a>
        {% endfor %}
    </p>
  </div>
</div>
