{%- assign formats = site.data[site.data.theme.metadata] | map: "format" -%}
{%- assign types = "image;audio;video;application;compound_object" | split: ";" -%}
<div class="card mb-3" >
  <div class="card-body">
    <h5 class="card-title">Objects</h5>
    <p class="card-text"> 
      {% for t in types %}
      {%- assign count = formats | where_exp: 'item','item contains t' | size -%}
      {% if count > 0 %}
      {{ count }}
      {% case t %}
      {% when 'image' %} 
      <a class="text-dark" href="{{ 'image' | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">Images <i class="ml-2 fas fa-image"></i></a><br>
      {% when 'audio' %}
      <a class="text-dark" href="{{ 'audio' | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">Audio <i class="ml-2 fas fa-file-audio"></i></a><br>
      {% when 'video' %}
      <a class="text-dark" href="{{ 'video' | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">Videos <i class="ml-2 fas fa-file-video"></i></a><br>
      {% when 'compound_object' %}
      <a class="text-dark" href="{{ 'compound_object' | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">Compound Objects <i class="ml-2 fas fa-th"></i></a><br>
      {% else %}
      <a class="text-dark" href="{{ 'document' | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">Documents <i class="ml-2 fas fa-file"></i></a><br>
      {%- endcase -%}
      {%- endif -%}
      {%- endfor -%}
      <a class="btn btn-sm btn-light" href="{{ '/data/' | relative_url }}">View data</a>
    </p>
  </div>
</div>