<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="juxtapose">
                    <img src="https://cdm17254.contentdm.oclc.org/digital/iiif/pg1/191/full/!300,300/0/default.jpg" />
                    <img src="https://www.lib.uidaho.edu/digital/objects/pg1/New_PG1_102-15.jpg" />
                </div>
                <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
                <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
            </div>
        </div>
    </div>
</div>