<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Source Collections</h5>
    <p class="card-text">
      <ul class="list-unstyled">
        <li>Asian American Comparative Collection:
          <a href="{{ 'asian american comparative collection' | uri_escape | prepend: '/browse.html#' | absolute_url }}">23 objects</a>.</li>
        <li>Burke Museum of Natural History and Culture, US Air Force Collection:
          <a href="{{ 'burke museum of natural history' | uri_escape | prepend: '/browse.html#' | absolute_url }}">27 objects</a>.</li>
      </ul>
    </p>
  </div>
</div>