---
layout: default
gallery: true
---

<div class="container py-3">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | absolute_url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/buildings/index.html' | absolute_url }}">Buildings</a></li>
        <li class="breadcrumb-item active">{{ page.title | truncatewords: 10 }}</li>
    </ul>

    <div class="row">
        <div class="col-md-6">
            <h2>{{ page.title }}</h2>
            {% if page.architect %}
            <p><strong>Architect:</strong> {{ page.architect }}</p>
            {% endif %}
            {% if page.history %}
            <p><strong>History:</strong> {{ page.history }}</p>
            {% endif %}
            <figure class="figure mx-3 text-center">
                <a href="{{ '/items/' | append: page.objectid | append: '.html' | relative_url }}">
                    <img class="figure-img img-fluid rounded lazyload"  alt="{{ page.title | escape }}" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ site.cdm-url }}/digital/iiif/{{ site.cdm-collection-id }}/{{ page.cdmid }}/full/max/0/default.jpg" >
                </a>
                <figcaption class="figure-caption"><a href="{{ '/items/' | append: page.objectid | append: '.html' | relative_url }}">PG1, {{ page.identifier }}</a></figcaption>
            </figure>
        </div>
        <div class="col-md-6">
            {% if page.cost %}
            <p><strong>Cost:</strong> {{ page.cost }}</p>
            {% endif %}

            <div id="map-{{ page.slug }}" class="building-map mx-auto mb-4"></div>

            {% if page.location_description %}
            <p><strong>Location:</strong> <em>{{ page.latitude }}, {{ page.longitude }}</em> | {{ page.location_description }}</p>
            {% endif %}
            {% if page.description %}
            <p><strong>Description:</strong> {{ page.description }}</p>
            {% endif %}
            {% if page.additions %}
            <p><strong>Additions:</strong> {{ page.additions }}</p>
            {% endif %}
            {% if page.use_history %}
            <p><strong>Use History:</strong> {{ page.use_history }}</p>
            {% endif %}
            {% if page.date_notes %}
            <p><strong>Date Notes:</strong> {{ page.date_notes }}</p>
            {% endif %}
            {% if page.cost_notes %}
            <p><strong>Cost Notes:</strong> {{ page.cost_notes }}</p>
            {% endif %}
            {% if page.sources %}
            <p><strong>Sources:</strong> {{ page.sources }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center" id="lightgallery">
        <div class="col-md-12">
            <p class="text-center">Scroll down to browse images of {{ page.title }}</p>
        </div>
        {% assign images = site.data[site.metadata] | where_exp: "item", "item.location_identifier == page.slug" %}
        {% for i in images %}
        <div class="col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="{{ site.cdm-url }}/digital/iiif/{{ site.cdm-collection-id }}/{{ i.cdmid }}/full/max/0/default.jpg" alt="image of {{ i.title }}">
                <div class="card-body">
                    <div class="card-title">
                        {{ i. title }}
                    </div>
                    <a href="{{ '/items/' | append: i.objectid | append: '.html' | relative_url }}" class="btn btn-outline-secondary" role="button">View Record</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-12">
            <a href="" class="btn btn-info" role="button">View Gallery</a>
            <a href="{{ '/browse.html#' | append: page.slug | relative_url }}" class="btn btn-outline-info" role="button">Browse Records</a>
        </div>
    </div>
</div>

<script src="{{ '/leaflet/leaflet.js' | prepend: site.digital-assets }}"></script>
<script>

    var pageLatitude = "{{ page.latitude | strip }}";
    var pageLongitude = "{{ page.longitude | strip }}";

    var buildingMap = L.map('map-{{ page.slug }}').setView([pageLatitude,pageLongitude], 19);
    
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    }).addTo(buildingMap);
    
</script>