---
layout: default
# checks if etd is embargoed by using the cdmid field
# hides embargoed etd abstracts and download link
# uses link from odd metadata only "link" type records
---
{%- assign fields = site.data.config-metadata | where_exp: 'item', 'item.display_name != nil' -%}
{% if page.embargo_remove and page.cdmid == nil %}{% assign fields = fields | where_exp: 'item', 'item.field != "abstract"' %}{% endif %}
{% capture download_link %}{% if page.type == "link" %}{{ page.link }}{% else %}{{ site.cdm-url }}/utils/getfile/collection/{{ site.cdm-collection-id }}/id/{{ page.cdmid }}/filename/{{ page.objectid }}.pdf{% endif %}{% endcapture %}

<div class="container py-3">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | absolute_url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/browse.html' | absolute_url }}">Items</a></li>
        <li class="breadcrumb-item active">{{ page.title | truncatewords: 10 }}</li>
    </ul>

    <div class="row">
        <div class="col-md-4" >
            <div class="card mb-4 text-center">  
                <div class="mt-4">
                    <p>
                        {% if page.cdmid %}
                        <a href="{{ download_link }}" target="_blank"><img src="{% include image/thumb.html %}" alt="item thumbnail for {{ page.title | escape }}" class="img-fluid thumb"></a>
                        {% else %}
                        <strong>Embargoed until {{ page.embargo_remove }}.</strong>
                        {% endif %}
                    </p>
                </div>
                {% if page.cdmid %}
                <div class="my-2">
                    {% if page.type == "link" %}<small>Proquest link only</small><br>{% endif %}
                    <a target="_blank" href="{{ download_link }}" class="btn btn-outline-info">Download {{ page.format | split: '/' | last | upcase }}</a>
                    {% if page.date %}{%- capture year -%}{% if page.date contains "-" %}{{ page.date | split: "-" | first }}{% elsif page.date contains "/" %}{{ page.date | split: "/" | last }}{% else %}{{ page.date }}{% endif %}{%- endcapture -%}
                    <a href="{{ year | strip | prepend: '/timeline.html#' | relative_url }}" class="ml-2 btn btn-outline-info">View on Timeline</a>{% endif %}
                </div>
                {% endif %}
            </div>

            <div class="card mb-2">
                <div class="card-header">Citation</div>
                <div class="card-body">
                    <p>{{ page.author }}. ({{ page.date }}). {{ page.title }}. {{ site.title }}, {{ site.organization-name }}. {{ page.url | absolute_url }}</p>
                </div>
            </div>

        </div>

        <div class="col-md-8">
            <div id="item-metadata" class="metadata">
                <dl>
                    {% for f in fields %}{% if page[f.field] %}{% unless f == "rights" or f == "rightsstatment" %}
                    <dt class="field">{{ f.display_name }}:</dt>
                    <dd class="field-value">
                        {% if f.browse_link == "true" %}
                        {% assign topics = page[f.field] | split: ";" %}
                        {% for t in topics %}
                        <a class="mr-3" href="{{ t | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a>
                        {% endfor %}
                        {% else %}
                        {{ page[f.field] | replace: '""','"' }}{% endif %}
                    </dd>
                    {% endunless %}{% endif %}{% endfor %}
                </dl>
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-4">
        {% if page.rights or page.rightsstatment %}
        <div class="col-md-5">
            <div class="card mb-2">
                <div class="card-header">Rights</div>
                <div class="card-body">
                    <dl>
                        {% if page.rights %}
                        <dd>{{ page.rights }}</dd>{% endif %}
                        {% if page.rightsstatement %}<dt>Standardized Rights:</dt>
                        <dd><a target="_blank" rel="noopener" href="{{ page.rightsstatement }}">{{ page.rightsstatement }}</a>
                        </dd>{% endif %}
                    </dl>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
    {% assign itemset = site.data[site.metadata] | map: 'objectid' | compact %}
    {% assign last = itemset | size | minus: 1 %}
    {% unless page.index_number == 0 %}
    {% assign back = page.index_number | minus: 1 %}
    {% else %}
    {% assign back = last %}
    {%- endunless -%}
    {% unless page.index_number == last %}
    {% assign forward = page.index_number | plus: 1 %}
    {% else %}
    {% assign forward = 0 %}
    {%- endunless -%}
    {%- assign back_url = '/items/' | append: itemset[back] | append: '.html' | relative_url -%}
    {%- assign forward_url = '/items/' | append: itemset[forward] | append: '.html' | relative_url -%}
    <div class="text-center">
        <a class="btn btn-secondary" href="{{ back_url }}" id="prev-page-button">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}" >Back to Browse</a>
        <a class="btn btn-secondary" href="{{ forward_url }}" id="next-page-button">Next &raquo;</a>
    </div>
    <div id="item-nav">
        <div class="d-none d-md-block">
            <a class="previous btn btn-lg btn-secondary" href="{{ back_url }}">&laquo;</a>
            <a class="next btn btn-lg btn-secondary" href="{{ forward_url }}">&raquo;</a>
        </div>
    </div>
    {%- endif -%}
</div>