---
layout: page
---
<style>
        {% assign colors = site.data.hexcolors %} 
     
     {%for color in colors%}
     .tagcloud{{color.tagnumber}}{
       font-size:{{color.font-size}};
       z-index: {{color.z-index}}; }
     
     .tagcloud{{color.tagnumber}} a {
       color: {{color[site.data.theme.subjectcolor]}}; }
     {%endfor%}
     
     #cloud {
       margin: 0px 30px 30px;
       background: none repeat scroll 0% 0% {%if site.data.theme.subjectcloud-background-color%}{{site.data.theme.subjectcloud-background-color}}{%else%}#40524f{%endif%};
       padding: 4px; }
     
     </style>

{{ content }}

<div id="cloud" class="text-center my-4" ></div>
