---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
{%- assign raw-dates = site.data[site.metadata] | map: 'depth' | compact | uniq -%}
{%- capture clean-years -%}{% for date in raw-dates %}{% if date.size == 3 %}{{ date | strip | prepend: "0" }}{% else %}{{ date | strip }}{% endif %}{% unless forloop.last %};{% endunless %}{%- endfor -%}{%- endcapture -%}
{%- assign uniqueYears = clean-years | remove: " " | split: ";" | uniq | sort -%}
{%- if site.data.theme.year-navigation -%}
{%- assign navYears = site.data.theme.year-navigation | split: ";" -%}
{%- else -%}
{%- capture navYears -%}
{%- for i in uniqueYears -%}{%- assign t = i | modulo: site.data.theme.year-nav-increment -%}
{%- if t == 0 -%}{{ i }}{% unless forloop.last %};{% endunless %}{% endif %}{% endfor %}{%- endcapture -%}
{%- assign navYears = navYears | split: ";" -%}
{%- endif -%}
<div class="dropdown float-right" id="year-nav">
    <button class="btn btn-info dropdown-toggle" type="button" id="yearButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Year
    </button>
    <div class="dropdown-menu" aria-labelledby="yearButton">
        {% for y in navYears %}
        <a class="dropdown-item" href="#{{ y }}">{{ y }}</a>{% endfor %}
    </div>
</div>

{{ content }}

<h3><a href="#{{ navYears | first }}">{{ navYears | first }}ft</a> to <a href="#{{ navYears | last }}">{{ navYears | last }}ft</a></h3>

<table id="timeline" class="table">
    {% for year in navYears %}
    <tr id="{{ year }}" style="background-color:#{% cycle 'CFCFCF', 'B8B8B8', 'A1A1A1', '8A8A8A', '737373', '5C5C5C', '454545', '2E2E2E', '171717', '000' %}">
        <th><h3 class="text-white" >{{ year }}ft</h3></th>
        <td>
            {%- assign inYear = items | where_exp: 'item', 'item.depth == year' -%}
            {% for item in inYear %}
            <a class="d-inline-block m-1" href="{{ '/items/' | relative_url | append: item.objectid | append: '.html' }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title | escape }} | {{ item.date | escape }}" ><img class="lazyload img-thumbnail" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{% if item.youtubeid %}https://img.youtube.com/vi/{{ item.youtubeid }}/mqdefault.jpg{% else %}{% include image/thumb.html %}{% endif %}" alt="{{ item.title | escape }}" ></a>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
